/* Global Styling */
* {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    box-sizing: border-box;
  }


  body {
    background-color:  #10092b;
  }

  h1 {
    color: #AD94FF;
    text-align: center
  }

  h2 {
    text-align:center;
    font-size: 28pt;
  }
   
   
  p, 
  li {
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

/* Header Section Styling */

.header {
  background-color: #10092b;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Nav Bar Styling */

nav ul {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #564A80;
  text-align: center;
}

nav li {
  display: inline;
}

nav li:last-child {
  border-right: none;
}
nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0 auto;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

nav li a:hover {
  background-color: #10092b;
}

/* HTML Section Styling */

.html_section {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#10092b;
}

.html_section h2 {
  color: #aba1ec;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 42px;
}

/* Div Section Styling */

.div_section {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#10092b;
  background-image: url(./wave-haikei.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.div_section h2 {
  color: #aba1ec;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 42px;
}

.div_section p {
  color:whitesmoke;
}

/* Div Section Demo Container Styling */

.containers{ 
  text-align: center;
  padding-top: 10px;
}

.colorpart {
  display: inline-block;
  color: #fff;
  margin: 0 auto;
  background-image: url(./firstsectionwave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.color1 {
  background-color: #3f0d8a;
  height: 150px;
  width: 250px;
  margin: 15px 10px;
  border: 1px solid whitesmoke; 
  border-radius: 10px 10px;
  text-align: center;
}

.color2 {
  background-color: hsla(215, 45%, 60%, 0.4);
  height: 150px;
  width: 250px;
  margin: 15px 10px;
  border: 1px solid whitesmoke; 
  border-radius: 10px 10px;   
}
.color3 {
  background-color: #6881FF;
  height: 150px;
  width: 250px;
  margin: 15px 10px;
  border: 1px solid whitesmoke; 
  border-radius: 10px 10px; 
}


/* Box Model Diagram and Surrounding Section Styling */

.boxmodel_diagram h2, p, h3 {
    text-align:center;
}

.boxmodel_diagram h2 {
  font-family: 'Playfair Display', Serif;
  font-size: 42px;
  color: #7c49ca;
}

.boxmodel_diagram h3 {
  color: #3F0D8A;
  font-family: 'Playfair Display', Serif;
  font-size: 34px;
}

.boxmodel_diagram p {
  color: whitesmoke;
}

img.boxmodel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 5px;
}

.boxmodel_diagram figcaption {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #3F0D8A;
}

.boxmodel_diagram { 
    padding-top: 6px;
    padding-bottom: 10px;
    background-color: #4e6af3 ;
    background-image: url(./wave-haikei-2.svg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* CSS Section Styling */

.css_section {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4e6af3;
  background-image: url(./firstsectionwave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.css_section h2 {
  color: hsla(215, 45%, 60%, 0.4);
  font-weight: bold;
}

/* Flexbox Section Styling */

.css_flexbox_section {
  background-color: hsla(215, 45%, 60%, 0.4);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url(./secondsectionwave.svg);
  background-position: top;
  background-size:cover;
  background-repeat: no-repeat;
}

.css_flexbox_section2 {
  background-color: hsla(215, 45%, 60%, 0.4);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.css_flexbox_section2 a {
  color: #aba1ec;
}

.css_flexbox_section2 a:hover {
  color: #716b9c;
}



.css_flexbox_section h2 {
  color: #aba1ec;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 40px;
  margin-top: 20px;
  margin: 10px;
}

.css_flexbox_section2 h2 {
  color: #aba1ec;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 40px;
  margin-top: 20px;
  margin: 10px;
}

.css_flexbox_section h3 {
  color: #aba1ec;
  font-weight: bold;
}

.css_flexbox_section2 h3 {
  color: #aba1ec;
  font-weight: bold;
}

.css_flexbox_section p {
  color: whitesmoke;
}

.css_flexbox_section2 p {
  color: whitesmoke;
}

.css_flexbox_section_diagram {
  background-color: hsla(215, 45%, 60%, 0.4);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.css_flexbox_section_diagram h2 {
  color: #aba1ec;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 40px;
  margin-top: 40px;
  margin: 10px;
}

.css_flexbox_section_diagram figcaption{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  color: #aba1ec;
}

/* Bottom Cheat Sheet Section Styling - For next new content */


.bottom_cheatsheet_section {
  background-color: hsla(215, 45%, 60%, 0.4);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url(./thirdsectionwave.svg);
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
}

.bottom_cheatsheet_section h3 {
  color: #aba1ec;
  text-align: center;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 200px; /* Remove once you start adding stuff again!*/
}


/* General Table Element Styling */
table td {
  text-align: center;
}

table {
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}