/* Global Styling */
* {
  font-family: 'Nunito', Helvetica, sans-serif;
  box-sizing: border-box;
}


body {
  background-color:  #0f023d;
}

h1 {
  color: #AD94FF;
  text-align: center
}

h2 {
  text-align:center;
  font-size: 28pt;
}
 
 
p, 
li {
  font-size: 18px;
  color: whitesmoke;
}
 
 
a {
  text-decoration: none;
}

/* Page Section Styling */

.header {
  background-color: #10092b;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Nav Bar Styling */

nav ul {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #564A80;
  text-align: center;
}

nav li {
  display: inline;
}

nav li:last-child {
  border-right: none;
}
nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0 auto;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

nav li a:hover {
  background-color: #10092b;
}
  table {
      margin-left: auto;
      margin-right: auto;
  }

  nav {
      color: whitesmoke;
      text-align: center;
      padding: 5px;
  }

  nav a {
    padding-left: 3px;
    padding-right: 3px;
  }

  