* {
    font-family: 'Nunito', Helvetica, sans-serif;
  }

  body {
    background-color: hsla(225, 100%, 25%, 0.4);
  }

  h1 {
    color: whitesmoke;
    background-color: hsla(235, 100%, 25%, 0.4);
    text-align: center
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  table {
      margin-left: auto;
      margin-right: auto;
  }

  nav {
      background-color: hsla(230, 100%, 25%, 0.4);
      color: whitesmoke;
      text-align: center;
      font-weight: bold;
  }

  table td {
      text-align: center;
  }

  .boxmodel img {
    display: block
    margin-left: auto;
    margin-right: auto;
  }

  .boxmodel figcaption {
      text-align: center
  }