/* Global Styling */
* {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  box-sizing: border-box;
}


body {
  background-color:  #10092b;
}


h2 {
  text-align:center;
  font-size: 28pt;
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
}

h4 {
  color: whitesmoke;
}

h5 {
  color: whitesmoke;
}

h6 {
    color: whitesmoke;
}

p, 
li {
  font-size: 18px;
  font-family: 'Source Sans Pro', Sans-Serif;
  color: whitesmoke;
}
 
 
a {
  text-decoration: none;
}

/* Header Section Styling */

.header {
  background-color: #10092b;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Nav Bar Styling */

nav ul {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #564A80;
  text-align: center;
}

nav li {
  display: inline;
}

nav li:last-child {
  border-right: none;
}
nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0 auto;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

nav li a:hover {
  background-color: #10092b;
}

/* Headshot and Tagline Section Styling */

.headshot_tagline_section {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color:#10092b;
  background-image: url(./wave-haikei.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.headshot_tagline_section h1 {
  color: #AD94FF;
  text-align: center;
  font-family: 'Playfair Display', Serif;
  font-size: 42px;
}

.headshot_tagline_section h2 {
  color: #AD94FF;
  font-weight: bold;
  font-family: 'Playfair Display', Serif;
  font-size: 42px;
}

.headshot_tagline_section h3 {
  text-align: center;
  color: #AD94FF;
  font-weight: bold;
  font-family: 'Playfair', serif;
  font-size: 20pt;
}

.headshot_tagline_section h4 {
  font-size: 18pt;
  color: #c8b7ff;
  font-weight: bold;
  font-family: 'Playfair', serif;
  text-align: center;
}

.headshot_tagline_section p {
  text-align: center;
  font-weight: bold;
}

.headshot_tagline_section hr {
  width: 75%;
}

.headshot_tagline_section a {
  text-align: center;
  margin: 0 auto;
  color: #c8b7ff;
  font-family: 'Playfair', serif;
}

.headshot_tagline_section a:hover {
  color: #6f668f;
}

.headshot {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.headshot img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 60%;
  border: 2px solid #AD94FF;
  border-radius: 50%;
}

/* Professional summary Section Styling */

.prof_summary_section {
  padding-top: 15px;
  text-align: center;
  background-image: url(./wave-haikei-2.svg);
  background-color: hsla(215, 45%, 60%, 0.4);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.prof_summary_section h3 {
  color: #3F0D8A;
  font-family: 'Playfair Display', Serif;
  font-size: 34px;
  padding-bottom: 90px;
}

/* Core Competencies Section Styling */

.core_comps_section {
  padding-top: 10px;
  padding-bottom: 90px;
  text-align: center;
  background-color: hsla(215, 45%, 60%, 0.4);
  background-image: url(./firstsectionwave.svg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.core_comps_section h3 {
  text-align: center;
  color: #c8b7ff;
  font-weight: bold;
  font-family: 'Playfair', serif;
  font-size: 18pt;
}

.core_comps_section h4 {
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
}

.core_comps_section li {
  list-style-type: none;
  text-align: center;
}

.colorpart {
  display: block;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.color1 {
  background-color: #3f0d8a;
  height: auto;
  width: 50%;
  margin: 0 auto;
  padding: 10px 10px;
  border: 1px solid whitesmoke; 
  border-radius: 10px 10px;
  text-align: center;
}

.color2 {
  background-color: hsla(215, 45%, 60%, 0.4);
  height: auto;
  width: 50%;
  margin: 0 auto;
  border: 1px solid whitesmoke; 
  border-radius: 10px 10px;
  text-align: center; 
}

.color3 {
  background-color: #6881FF;
  height: auto;
  width: 50%;
  margin: 0 auto;
  border: 1px solid whitesmoke; 
  border-radius: 10px 10px;
  text-align: center;
}

/* Professional History Section Styling */

.prof_history_section {
  padding-top: 10px;
  padding-bottom: 90px;
  text-align: center;
  background-color: #10092b;
  background-image: url(./secondsectionwave.svg);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.prof_history_section h3 {
  color: #c8b7ff;
  font-family: 'Playfair Display', Serif;
  font-size: 34px;
  padding-bottom: 50px;
}

.prof_history_section h4 {
  color: #c8b7ff;
  font-family: 'Playfair Display', Serif;
  font-size: 24px;
}

.prof_history_section h5 {
  color: #c8b7ff;
  font-family: 'Source Sans Pro', Serif;
  font-size: 20px;
}

.prof_history_section li{
  list-style-type: none;
  text-align: center;
}

.prof_history_section hr {
  width: 75%;
}

/* Bottom Section Styling */

.bottom_section {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background-image: url(./thirdsectionwave.svg);
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
}

.bottom_section h4 {
  color: #c8b7ff;
  font-family: 'Playfair Display', Serif;
  font-size: 24px;
  padding-bottom: 75px;
}

/* Misc Element Styling */

  table {
      margin-left: auto;
      margin-right: auto;
  }

  nav {
      color: whitesmoke;
      text-align: center;
  }


  dl {
    color: whitesmoke;
  }
    
  dt {
      color: #c8b7ff;
      font-family: 'Playfair Display', serif;
  }