/* Global Styling */
* {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    box-sizing: border-box;
  }


  body {
    background-color:  #10092b;
  }

  h1 {
    color: #AD94FF;
    text-align: center
  }

  h2 {
    text-align:center;
    font-size: 28pt;
  }
   
   
  p, 
  li {
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }