/* Global Styling */
* {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    box-sizing: border-box;
  }


  body {
    background-color:  #10092b;
  }

  h1 {
    color: #AD94FF;
    text-align: center
  }

  h2 {
    text-align:center;
    font-size: 28pt;
  }
   
   
  p, 
  li {
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
    color: #6881FF;
  }

  a:hover {
    color: #aba1ec;
  }

/* Header Section Styling */

.header {
  background-color: #10092b;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Nav Bar Styling */

nav ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #564A80;
    text-align: center;
  }

  nav li {
    display: inline;
  }

  nav li:last-child {
    border-right: none;
  }
  nav li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      margin: 0 auto;
      text-decoration: none;
      border-right: 1px solid #bbb;
      border-left: 1px solid #bbb;
  }

  nav li a:hover {
    background-color: #10092b;
  }

  /* Container Section Styling */

.containers{
    background-color:hsla(215, 45%, 60%, 0.4);  
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.containers h1 {
    color: #aba1ec;
    font-weight: bold;
    font-family: 'Playfair Display', Serif;
    font-size: 42px;
}

.containers h2 {
    color: #aba1ec;
    font-weight: bold;
    font-family: 'Playfair Display', Serif;
    font-size: 36px;
}

.containers h3 {
    color: #aba1ec;
    font-weight: bold;
    font-family: 'Playfair Display', Serif;
    font-size: 30px;
}

.containers p {
    color:whitesmoke;
}

.colorpart {
    display: inline-block;
    color: #fff;
}
.color1 {
    background-color: #10092b;
    height: 150px;
    width: 250px;
    margin: 15px 10px;
    border: 1px solid whitesmoke; 
    border-radius: 10px 10px;     
}
.label{
    color: whitesmoke;
}
.color2 {
    background-color: hsla(215, 45%, 60%, 0.4);
    height: 150px;
    width: 250px;
    margin: 15px 10px;
    border: 1px solid whitesmoke; 
    border-radius: 10px 10px;   
}
.color3 {
    background-color: #6881FF;
    height: 150px;
    width: 250px;
    margin: 15px 10px;
    border: 1px solid whitesmoke; 
    border-radius: 10px 10px; 
}

.color4 {
    background-color: #3f0d8a;
    height: 150px;
    width: 250px;
    margin: 15px 10px;
    border: 1px solid whitesmoke; 
    border-radius: 10px 10px;
}
  